.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background-color: #202020;
  max-width: 1280px;
  margin: auto;
}

.header__logo {
  transition: opacity 0.2s linear;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__link {
  display: flex;
  transition: opacity 0.2s linear;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link_account {
  padding: 5px;
  padding-right: 11px;
  color: #fff;
  border: 3px solid rgba(170, 170, 170, 0.2);
  text-decoration: none;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__img {
  margin: 0 5px;
}

.header__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #686868;
  font-weight: 500;
  min-width: 183px;
  margin: auto 0;
}

.header__signup {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  transition: opacity 0.2s linear;
}

.header__signup:hover {
  opacity: 0.6;
}

.header_signin {
  background-color: #3ddc84;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 8px 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.2s linear;
}

.header_signin:hover {
  opacity: 0.6;
}

.header_type_auth {
  background-color: #073042;
}

/* Adaptive layout for pads */
@media screen and (max-width: 1030px) {
  .header {
    padding: 18px 30px;
  }
  .header__link {
    display: none;
  }
}

/* Adaptive layout for mobiles */
@media screen and (max-width: 540px) {
  .header {
    padding: 18px 14px;
  }
}
